.collaborator-card {
    width: 250px;
    background-color: grey;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

button {
    width: 180px;
    height: 30px;
    margin-top: 10px;
    background-color: white;
    color: black;
    cursor: pointer;
}